.chat {   
    max-width: 780px;
    width: 100%;
    height: 100%;

    border-radius: 8px;
    border: 2px solid #a9bbd1;

    overflow: hidden;

    &__own-message {
        margin-left: auto;
    }

    &__message {
        margin-bottom: 15px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}