.message {
    display: flex;
    width: 85%;

    &__body {
        margin-left: 12px;
    }
}

.message-user-avatar { 
    flex-shrink: 0;

    width: 50px;
    height: 50px;

    border-radius: 50%;
    overflow: hidden;

    border: 1px solid rgba(0, 0, 0, .02);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}

.message-body {
    display: flex;
    flex-direction: column;

    padding: 12px;

    background-color: rgba(0, 0, 0, .05);
    border-radius: 0px 12px 12px 12px;
    border: 1px solid rgba(0, 0, 0, .02);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);

    &__header {
        margin-bottom: 6px;
    }
}

.message-body-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__time {
        margin-left: 8px;
        margin-right: 20px;
    }
}

.message-heart {
    flex-grow: 1;

    svg {
        cursor: pointer;

        width: 16px;
        height: 16px;

        float: right;
        clear: right;

        filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, .1));
    }
}

.message-like {
    fill:rgba(0, 0, 0, .15);
}

.message-liked {
    fill: rgb(255, 16, 16);
}

.message-user-name {
    font-weight: bold;
}

.message-time {
    font-size: 14px;
}