.preloader {
  position: relative;

  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 52px;
    height: 52px;
    margin: 8px;
    border-radius: 50%;
    border: 4px solid #539BF7;
    border-color: #539BF7 transparent #539BF7 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  