@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

@import "./normalize.scss";
@import "./components/index.scss";

.app {
    padding: 15px;
    position: absolute;
    height: 75%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    @media(max-width: 425px) {
        width: 100%;
        height: 100%;
    }
}

body {
    font-family: 'Roboto', sans-serif;
}